{% load widget_tweaks %}
<!--
{% render_field contact_form.name class+="form-control" %}
-->

{% load static %}
<!DOCTYPE html>
<html lang="en" class="body-full-height">
    <head>        
        <!-- META SECTION -->
        <title>Notification | Incidents</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE   
        <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css"/> -->      
        <link href="{% static 'css/theme-default.css' %}" rel="stylesheet"/>
        <!-- EOF CSS INCLUDE -->                                    
    </head>
    <body>
        
        <div class="login-container">
        
            <div class="login-box animated fadeInDown">
                <div class="login-logo"></div>
                <div class="login-body">
                    <!--
                    <div class="login-title"><strong>Email</strong>, Please send mail</div>
                    <form action="" class="form-horizontal" method="post">
                           
                    <div class="form-group">
                        <div class="col-md-12">
                            <dt>Nombre:</dt>
                            <dd>{{ name }}</dd>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <dt>Correo electrónico:</dt>
                            <dd>{{ email }}</dd>
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <dt>Correo electrónico del destinatario:</dt>
                            <dd>{{ to }}</dd>
                           
                        </div>
                    </div>
                    -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <!--
                            <dt>Mensaje:</dt>
                            -->
                            <dd>{{ message }}</dd>
                           
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <div class="col-md-12">
                        
                            <dd>{{ attach }}</dd>
                           
                        </div>
                    </div>
                    -->
                    <!--
                    <div class="form-group">
                        <div class="col-md-6">
                            
                        </div>
                        <div class="col-md-6">
                            <button type='submit' class="btn btn-info btn-block">Send Mail</button>
                        </div>
                    </div>
                    </form>
                    -->
                </div>
                <!--
                <div class="login-footer">
                    <div class="pull-left">
                        &copy; 2019 Notification of Incidents
                    </div>
                    <div class="pull-right">
                        <a href="#">About</a> |
                        <a href="#">Privacy</a> |
                        <a href="#">Contact Us</a>
                    </div>
                </div>
                -->
            </div>
            
        </div>
        
    </body>
</html>
